/* reset */
body,
p {
  margin: unset;
}

h1 {
  margin: unset;
  font-weight: unset;
  font-size: unset;
}

input {
  padding: unset;
  border: unset;
}

button {
  background-color: unset;
  border: unset;
  padding: unset;
}

a {
  text-decoration: unset;
  color: unset;
}

/* layout */
.wrapper {
  width: 434px;
  margin: 100px auto;
}

/* common */
.login-button {
  background-color: #f6f6f6;
  padding: 15px 0;
  border-radius: 2px;
}

/* component */
.container {
  padding: 35px;
}

.login-title {
  text-align: center;
  font-size: 25px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 45px;
}

.login-id,
.login-password {
  border-bottom: 1px solid #ebebeb;
  padding: 13px 0;
}

.primary {
  background-color: #fbe64d;
  padding: 15px 0;
  border-radius: 2px;
}

.login-word {
  color: #dddddd;
  text-align: center;
  font-size: 12px;
}

.login-form-link {
  display: flex;
  justify-content: space-between;
}

.link {
  color: #989897;
  font-size: 10px;
}

.link-inner {
  padding: 0 5px;
}
