/* reset */
body,
p {
  margin: unset;
}

h1 {
  margin: unset;
  font-weight: unset;
  font-size: unset;
}

input {
  background-color: unset;
  padding: unset;
  border: none;
}

/* typhography */
:root {
  font-family: Arial, Helvetica, sans-serif;
}

/* layout */
.wrapper {
  width: 360px;
  margin: 362px auto;
}

/* common */
.login-id,
.login-password,
.login-submit {
  width: 100%;
  margin-top: 20px;
  border-radius: 4px;
}

.login-id,
.login-password {
  background-color: #f2f2f2;
}

.login-submit {
  background-color: #6962cb;
}

/* component*/
body {
  background-color: #6962cb;
}

.section {
  background-color: white;
  padding: 47px 41px;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}

.login-title {
  font-size: 20px;
  font-weight: bold;
  line-height: 27px;
}

.login-submit {
  text-align: center;
}
