/* reset */
body,
p {
  margin: unset;
}

h1 {
  margin: unset;
  font-weight: unset;
  font-size: unset;
}

input {
  background-color: unset;
  padding: unset;
  border: none;
  outline: unset;
}

a {
  color: unset;
  text-decoration: unset;
}

button {
  background-color: unset;
  padding: unset;
  border: none;
}

img {
  vertical-align: bottom;
}

/* typhography */
:root {
  font-family: Arial, Helvetica, sans-serif;
}

/* layout */
.wrapper {
  width: 360px;
  margin: 160px auto;
}

/* common */
.login-form-id,
.login-form-password,
.login-form-button {
  width: 100%;
  font-size: 15px;
  margin: 10px 0;
  padding: 19px 16px;
  border-radius: 4px;
}

.login-form-id,
.login-form-password {
  /* input type = text 일 때 안쪽 여백이나 테두리가 요소에 포함되지 않는 상태이기 때문에 다음과 같은 속성을 추가해준다.*/
  box-sizing: border-box;
  background-color: #f2f2f2;
}

.login-form-button {
  background-color: #6962cb;
  color: white;
  text-align: center;
  cursor: pointer;
}

.login-form-id:hover,
.login-form-password:hover {
  box-shadow: 0 0 5px #6962cb;
}

.login-form-button:hover {
  background-color: black;
  transition: all 1s ease-in-out;
}

/* component*/
body {
  background-color: #6962cb;
}

.section {
  background-color: white;
  box-shadow: 0 0 5px black;
  padding: 47px 41px 42px 41px;
  border-radius: 5px;
}

.login-form {
  position: relative;
}

.login-title {
  font-size: 25px;
  font-weight: bold;
  line-height: 35px;
}

.login-form-link {
  color: #6962cb;
  font-size: 15px;
  text-align: center;
  margin-top: 15px;
  cursor: pointer;
}

.login-form-point {
  position: absolute;
  height: 20px;
  top: 105px;
  right: 20px;
}

.valid-pass {
  color: red;
  font-size: 15px;
  margin: 40px 0;
}
