/* reset */
body,
p {
  margin: unset;
}

img {
  vertical-align: top;
}

button {
  margin: unset;
  border: unset;
  background-color: unset;
}

a {
  text-decoration: none;
  color: none;
}

/* typhography */

/* layout */
.l-wrapper {
  width: 900px;
  margin: 250px auto;
}

/* component */
body {
  background-color: #e6eaee;
}

.article {
  display: flex;
}

.cover-image {
  width: 400px;
  border-radius: 10px 0px 0px 10px;
}

.article-contents {
  background-color: white;
  padding: 40px 40px 0px 40px;
  border-radius: 0px 10px 10px 0px;
}

.section-headline {
  font-size: 24px;
  color: #3e4454;
  font-weight: bold;
}

.section-description {
  color: #797d85;
  line-height: 20px;
  padding: 20px 0;
}

.section-inside {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.section-profile {
  display: flex;
  gap: 20px;
}

.profile-image {
  width: 45px;
  border-radius: 50px;
}

.profile-typhography strong {
  font-weight: bold;
  color: #4e5358;
}

.profile-typhography span {
  color: #b6bac0;
  display: block;
  padding-top: 4px;
}

.section-button {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #eff2f9;
  cursor: pointer;
}

.section-button:hover {
  background-color: #717d95;
}

.button-image .icon-path {
  fill: #6e8098;
}

.button-image:hover .icon-path {
  fill: white;
}

.snsLink {
  display: flex;
  width: 240px;
  border-radius: 10px;
  background-color: #4d576c;
  padding: 22px 28px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 43%;
  left: 63%;
}

.snsLink::after {
  content: "";
  position: absolute;
  right: 130px;
  top: 60px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 25px solid #4d576c;
}

.snsLink-title {
  font-size: 18px;
  color: #8d99ac;
  letter-spacing: 5px;
  text-rendering: 5px;
}

.snsLink-list {
  display: flex;
  gap: 20px;
}

.list-item img {
  width: 25px;
}
